:root {
    --main-bg-color: #FAFAFA;
}
* {
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:10px;
    background-color: #f4f4f4;
    color: #501e4c;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

body {
    font-family: Georgia, serif;
    color: #501e4c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-bg-color);
}

.header-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
}

.story-link {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 1rem;
    color: #0073e6;
}

.story-link:hover {
    text-decoration: underline;
}

.daily-logo {
    width: 750px;
    height: auto;
    padding-top: 30px;
}

.logo-link {
    padding-left: 30px;
}

.page-title {
    padding-top: 20px;
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #501e4c;
}

h1 {
    font-size: 36px;
    color: #FFF;
    text-align: center;
}

.broad-topic-container {
    display:flex;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    background-color: #501e4c;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: auto;
}

.broad-topic-container button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-family: var(--body-font);
}

.broad-topic-container button:hover {
    border: 2px solid #FFFFFF;
}

.broad-topic-container button.active {
    font-family: Georgia, serif;
    border: 2px solid #FFFFFF;
    margin-bottom: 0;
    text-decoration: underline;
}

.body-wrapper {
    display: flex;
    flex-direction: row; 
    width: 100%;    
    flex-wrap: wrap; 
}

.questions-and-dataviz{
    display: flex;
    
    flex-direction: row;
}

.sidebar {
    width: 18%;
    height: fit-content;
    background-color: #FAFAFA;
    border-right: 2px solid #501e4c;
    padding: 20px;
    position: relative; 
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
}


.sidebar.hidden {
    transform: translateX(-100%);
}

.toggle-sidebar {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: #501e4c;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1100;
}



.sidebar .specific-topic-button {
    font-family: Georgia, serif;
    display: block;
    width: 100%;
    
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    color: #501e4c;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block; 
}

.sidebar .specific-topic-button:hover {
    background-color: #501e4c43;
    border: 0.5px solid #501e4c;
    text-decoration: underline;
}

.sidebar .specific-topic-button.active {
    text-decoration: underline;
    background-color: #501e4c43;
    border: 0.5px solid #501e4c;
}

.main-content {
    display:block;
    flex-wrap: wrap; 
    flex:1;
    width: 80%;

    height: auto;
    padding-left: 20px;
    margin: 0 auto;
}

.poll-section {
    display: none;
    width: 80%;
    background-color: #f9f9f9;
}

.poll-section.active {
    display: block;
}

.poll-section iframe {
    width: 100%;
    height: auto;
    border: none;
    display:block;
}
.all-content{
    display: flex;
    width: fit-content;
    flex-direction: column;
    overflow:auto;
}

/* Mobile Style */
@media (max-width: 768px) {
    :root {
        --main-bg-color: #FFFF;
        overflow: auto;
        flex-wrap: wrap;

    }
    body{
        display:flex;
        flex-direction: column;
        margin: 0;
        padding:0;
        width:100%vw;
    }


    header{
        display: flex; 
        background-color: #FFFF;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding:0;
        width: 100%;
    }
    .daily-logo {
        width: 80%;
        align-self:center;
        height: auto;
        padding-top: 30px;
    }
    .page-title{
        text-align: center;
        margin:0;
        padding: 10px 0;
    }
    
    .main-content{
        flex: 1;
        padding: 0;
    }
    .body-wrapper {
        flex-direction: column;
        align-items: stretch;
    }
    .broad-topic-container{
        width:90%;
    }

    .sidebar {
        /* hide sidebar by default */
        display: none; 
        background-color: #f4f4f4; 
        position: fixed;
        left: 0;
        top: 0;
        width: 250px; 
        height: 100%;
        overflow-y: auto; 
        z-index: 1000;
    }
    .sidebar.active{
        display:block;
    }
    .main-content {
        width: 100%; 
    }
    .poll-section{
        width: 80%;
        flex: 1 1 100%
    }
    
    .flourish-embed{
        width: 100%;
        height: auto;
    }
    /* Show toggle sidebar button on mobile!!! */
    .toggle-sidebar {
        display: block; 
    }
}

